
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Permanent+Marker&display=swap');
*{
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

body{
    font-family: sans-serif; 
    margin: 0;
}

h1{ font-size: 3.5em; }
h2{ font-size: 2.7em;}
h3{ font-size: 2em; }
p{ font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: rgb(18, 5, 49);
    background-color: rgb(108, 186, 231);
}

button :hover{
    background-color: rgb(211, 130, 214);
}

.container{
    max-width: 14000px;
    margin: auto;
}
.color-acento{
    color: rgb(211, 155, 208);
}
header{ 
    background-color: rgb(116, 208, 224);
    margin-bottom: 0px;
    height: 100px;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(233, 122, 187);
    font-size: 1.9em; 
    font-family:'Lacquer', cursive ;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding:  5px 12px;
    text-decoration: none;
    font-weight:  bold;
    color:  black;
}

header a:hover{
    color: hotpink;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/head.png");
}
.hero__titulo{
    font-family:'Neucha', cursive;
    color: rgb(0, 0, 0);

}

#hero button{
    font-size: 1.75em;
    color: #386ed1;
}

#hero button:hover{
    color: #93a9d3;
}


#somos-patitas .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-peludos{
    background-color: rgb(221, 141, 208);
    color: rgb(100, 214, 235);
    text-align: center;
}

#nuestros-peludos .container{
    padding: 100px 0px;
}

#nuestros-peludos p{
    color: #ffffff;
    font-family:'Neucha', cursive
}



.grilla{
    display: grid;
}

#nuestros-peludos .carta{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding:  50px 0px;
    margin: 30px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: url("../img/elsa.webp");

}
.carta:nth-child(2){ 
    background-image: url("../img/jajr.jpg");
}
.carta:last-child{ 
    background-image: url("../img/perror.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding:  250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#aplica-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(156, 155, 218);
    color: rgb(65, 96, 180);
    height: 80vh;
}

#aplica-ya h2{
    font-size: 9vw;
}

#aplica-ya button{
    font-size: 5vw;
}

footer{
    background-color: rgb(54, 157, 189);
}

footer p{
    margin: 0;
    color: #000000;
}
footer .container{
    height: 150 px;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

@media (min-width: 1080px){

    .grilla1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2% 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header header"
        "hero hero hero hero"
        "caracteristicas caracteristicas . . "
        "aplica-ya aplica-ya aplica-ya aplica-ya"
        "footer footer footer footer";
    }
    .header{
        grid-area: header;
        margin: 0px;
        margin-top:0px ;
        margin-bottom: 0px;
    }
    .hero{
        grid-area: hero;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .caracteristicas{
        grid-area: caracteristicas;
    }
    .aplica-ya{
        grid-area: aplica-ya;
    }
    .footer{
        grid-area: footer;
    }

    header{
        position: fixed;
        width: 100%;
    }

    #hero h1{
        font-size: 5em;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #somos-patitas .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-patitas .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        padding-top: 160px;
        flex-direction: column;
        justify-content: center;
    }

    #somos-patitas h2{
        margin-top: 0px;
    }

    #somos-patitas .img-container{
        background-image: url(../img/dos.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }
    #nuestros-peludos .patitas{
        display: flex;
        justify-content: center;
    }
    #nuestros-peludos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-peludos h3{
        margin-top: 0;
    }

    #nuestros-peludos .carta{
        padding: 50px;
    }


    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #aplica-ya button{
        font-size: 3em;
    }
    

    #aplica-ya h2{
        font-size: 60px;
    }

    footer .container{
        align-items: flex-end;
    }
    .grilla2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 5% 1fr 1fr 1fr;
        grid-template-areas:
        "header header header header"
        "formulario formulario formulario formulario"
        "footer footer footer footer";
    }

    .header{
        grid-area: header;
    }

    .formulario{
        grid-area: formulario;
    }
    .footer{
        grid-area: footer;
    }
    .formulario{
        background-color: #E5E5E5;
        background-size: 100vw 100vh;
        padding: 12px;
        margin: 0;
    }
    .formulario__form{
        width: 400px;
        margin-top: 150px;
        background-color: white;
        box-sizing: border-box;
        padding: 12px;
        border-radius: 5px;
    }
    /*
    .formulario__p{
        text-align: center;
    }
    .formulario__titulo{
        text-align: center;
    }*/
    .formulario__texto{
        text-align: center;
    }
    input,textarea{
        width: 100%;
        margin-bottom: 12px;
        padding: 5px;
        box-sizing: border-box;
        background-color: #E5E5E5;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
    }
    textarea{
        min-width: 100%;
        max-width: 100%;
        min-height: 100px;
        max-height: 100px;
    }
    .formulario__btn{
        background-color: #bd8092;
        border: 1px solid #d72edd ;
    }
    .formulario__btn:hover{
        color: #d6aad8;
        background-color: #c9a2b7;
        border: 1px solid #c797ca;
        transition:0.2s;
        cursor: pointer;
    }
.maps{
padding-top: 100px;
padding-left: 550px;
}
.footerxd .container{

    padding-top: 500px;
}
.c1, .c2, .c3, .c4, .c5{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 15px;
}
.c1{
    background-color: #e9c4e3;
    transition: all 2s ease;
}
.c2{
    background-color: #b0cef1;
    transition: all 2s ease-in;
}
.c3{
    background-color: #e6b2d9;
    transition: all 2s ease-in-out
}
.c4{
    background-color: rgb(152, 204, 235);
    transition: all 2s ease-out;
}
.c5{
    background-color: #fab2fa;
    transition: all 2s step-end;
}
.containerc:hover .c1, 
.containerc:hover .c2,
.containerc:hover .c3,
.containerc:hover .c4,
.containerc:hover .c5{
    transform: translateX(200px);
}
.containerc{
    padding-left: 1500px;
    padding-top: 1700px;
}
.grad{
    width: 1900px;
    height: 300px;
    background-image: linear-gradient(to bottom, rgb(8, 203, 238), rgb(228, 188, 216));
}
}